* {
  margin: 0px;
}

.ul_menu {
  margin-top: 50px;
  list-style-type: none;
}

.li_logo {
  float: left;
  height: 200px;
  width: 205px;
  margin-right: 10px;
  margin-top: -30px;
}

.logo {
  width: 205px;
  height: 130px;
}

.li_menu {
  float: left;
  background-color: #1ce515;
  font-size: 20px;
}

.li_menu a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #1ce515;
  padding: 14px 16px;
  border-left: 2px solid white;
}

.li_menu .active {
  background-color: green;
}

.li_menu:hover a {
  background-color: #1ce515;
}
